<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ED47.Sample.Entities.SampleContext" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" providerName="System.Data.SqlClient" connectionString="*YOUR PRODUCTION DB CONNECTION STRING*" />
  </connectionStrings>
  <appSettings>
    <!--TODO: Override you app settings for production here
    <add key="ApplicationUrl" value="https://www.sample.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />!-->
    <add key="elmah.mvc.requiresAuthentication" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
    <!-- TODO: Secure ELMAH by setting the roles that are allowed to access it -->
    <add key="elmah.mvc.allowedRoles" value="Administrator" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
  </appSettings>
   <system.net>
    <mailSettings>
      <smtp xdt:Transform="Replace" deliveryMethod="Network" from="*FROM EMAIL*">
        <network host="*PRODUCTION SMTP*" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.html" xdt:Transform="Insert">
      <error statusCode="404" redirect="~/Error/PageNotFound"/>
    </customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <clear/>
      <error statusCode="500" responseMode="ExecuteURL" path="/error.html"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/PageNotFound"/>
    </httpErrors>
  </system.webServer>
</configuration>