@model IEnumerable<ED47.Stack.Web.Multilingual.ITranslationEntry>

@{
    Layout = null;
    Page.Title = "Labels";
}

<div style="padding-bottom: 20px;">
    @using (Ajax.BeginForm("Translations", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "translations", InsertionMode = InsertionMode.Replace }))
    {
        <input type="hidden" name="language" value="@ViewBag.Language" />
        <input type="hidden" name="root" value="@ViewBag.Root" />
        @Html.Label("search-text", "Search:")
        <input type="text" name="search" id="search" placeholder="Type something to search" class="large" style="width:300px" />
    }
</div>
<div id="translations">
    <p>Please type something in the search field</p>
</div>
<script>
    $(function () {
        window.fields = $("textarea");
        window.keys = $("input[type=hidden][name=key]");

        window.fields.autoGrow();
        $("input[type=submit]").hide();

        $(document).on("keydown", "textarea", function () {
            $(this).parents("form").find("input[type=submit]").show();
        });


        var timeout;

        $(document).on("keydown", "#search", function (eventData) {
            if (timeout) clearTimeout(timeout);
            var val = $(this).val();
            if (val.length < 4)
                return;

            var form = $(this).closest("form");
            timeout = setTimeout(function () {
               // form.submit();
            }, 700);
         
        });
    });

    function saveSuccess(data, formId) {
        $(formId).find("input[type=submit]").hide();
    }
</script>