@using System.Threading
@using i18n = ED47.Stack.Web.Multilingual.Multilingual
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <script src="/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <title>@i18n.N("sample.title")</title>
    </head>
    <body>
        <div>
            <p> @i18n.N("sample.message")</p>
        </div>
        <button id="testi18n">Click me!</button>
    </body>
    
    <script src="/MultilingualHandler.axd?lang=@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"></script>
    <script src="/ED47StackJS.axd?ED47.Stack.Sample" type="text/javascript"></script>
    <script>
        $(document).on("click", "#testi18n", function () {
            alert(i8n.n("sample.message"));
        });
    </script>
</html>